.tabs {

	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 10vh;
	max-height: 3rem;
	padding: var(--space-xs);

}

.link {

	position: relative;
	z-index: 100;
	width: calc(100% / 2 - .5rem);
	text-align: center;
	color: var(--body-text-dark);

}

.bar {

	position: absolute;
	left: 0;
	right: 0;
	bottom: 5%;
	width: 50%;
	height: 5%;
	background-color: var(--main-color);
	transition: transform .3s ease;

}